# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\SNEH SUMAN\Desktop\gsoc\graphicsfuzz-master\generator\src\main\java\com\graphicsfuzz\generator\semanticschanging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
