# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\SNEH SUMAN\Desktop\gsoc\graphicsfuzz-master\common\src\main\java\com\graphicsfuzz\common\util\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
