

.DS_Store

# IntelliJ.
*.iml
/.idea/

# Maven.
target/
dependency-reduced-pom.xml

# Python
*.pyc
venv/

# Temp.
*~
*.bak

/envbuild.py

/OPEN_SOURCE_LICENSES.TXT
/graphicsfuzz/src/main/scripts/OPEN_SOURCE_LICENSES.TXT
/out/
