#!/usr/bin/env python

# Copyright 2018 The GraphicsFuzz Project Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import os
import subprocess
from os import path

# Adjust the following:

os.environ["OGLT_SOURCE_ROOT"] = r"/data/git/graphicsfuzz"

shell = ["cmd"]
# Or:
#shell = ["cmd"]
#shell = ["cmd", "/k", r'C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat', 'amd64']
#shell = ["powershell"]
#shell = [r"C:\cygwin64\Cygwin.bat"]
#shell = [r"C:\cygwin\Cygwin.bat"]
#shell = [r"C:\msys64\msys2.exe"]
#shell = ["bash"]
#shell = ["csh"]
#shell = ["zsh"]



# No need to change the following:

os.environ["PATH"] = os.environ["PATH"] + path.pathsep + path.join(os.environ["OGLT_SOURCE_ROOT"], "build", "commands")

subprocess.call(shell)

