# Copyright 2019 The GraphicsFuzz Project Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is not a TOML file; no quoting.

[flake8]
filename = */gfauto/*.py
exclude = *_pb2.py*
max-line-length = 88
ignore =
  E203
  W503
  E501

  # Missing doc strings.
  D100
  D101
  D103
  D104
  D107
  D102

  # Audit url open for permitted schemes.
  S310

  # Standard pseudo-random generators are not suitable for security/cryptographic purposes.
  S311

  # Use of subprocess call and run.
  S404
  S603

  # Warning: First line should be in imperative mood.
  # This is the opposite of the Google style.
  D401

  # Missing trailing comma.
  C812

  # Missing trailing comma.
  S101

  # Allow unindexed string format parameters
  P101


# For flake8-quotes:
inline-quotes = "

# For flake8-spellcheck. Default is whitelist.txt but using whitelist.dic means
# we can add the file to PyCharm/IntelliJ (albeit, globally, not per project).
whitelist=whitelist.dic
