/dev_shell.sh

.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/*

.venv/
*.egg-info/
__pycache__/
.mypy_cache/
/build/

.pytest_cache/
.vscode/

pip-wheel-metadata/
