
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/*
!.idea/dictionaries/shared.xml

.venv/
*.egg-info/
__pycache__/
.mypy_cache/


.pytest_cache/
.vscode/

pip-wheel-metadata/
