#!/bin/bash

# Copyright 2018 The GraphicsFuzz Project Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -e
set -x
set -u

GROUP_NAME=multicore
SHADER_SETS=/var/opt/multicore/work/shadersets
PROCESSING=/var/opt/multicore/work/processing

chmod +x bin/*/* | true

IMAGE=fuzzer-image
CONTAINER=fuzzer-container

USER_ID=$(id -u)
GROUP_ID=$(getent group ${GROUP_NAME} | cut -d: -f3)

docker build -t ${IMAGE} .

docker stop ${CONTAINER} | true
docker rm ${CONTAINER} | true

docker create \
  -ti \
  -v ${SHADER_SETS}:/data/work/shadersets \
  -v ${PROCESSING}:/data/work/processing \
  -p 80:8080 \
  -p 8000:8000 \
  -u ${USER_ID}:${GROUP_ID} \
  --name ${CONTAINER} \
  --restart always \
  ${IMAGE}

docker start ${CONTAINER}
