# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\SNEH SUMAN\Desktop\gsoc\graphicsfuzz-master\generator\src\test\java\com\graphicsfuzz\generator\tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
